<div class="receiver-data">
    <img src="#">
    <p>user.name</p>
    <p>@user.nickname</p>
    <p>user.bioText</p>
    <p>Membro desde user.member_since | user.follerws_number</p>
    <p>inCommonFollowers</p>
</div>

<style>
    
    .receiver-data {
        text-align: center;
        /* background-color: rgb(0, 78, 52); */
    }

    .receiver-data img {
        margin-top: 2%;
        width: 40px;
        height: 40px;
        border-radius: 1.5rem;
        background-color: aqua;
    }
</style>