<div class="main_notification">
    <%- include("./notifications-header") %>
    <%- include("./notifications-list") %>
</div>  

 
<style>
    .main_notifications {
        color: aliceblue;
    }
</style>