<div class="notifications-list">

    <div class="notification-design">
        <i class="fa-solid fa-heart" id="heart-logo"></i>
        <div class="notification-content">
            <img src="#">
            <p>notification.text</p>
            <p>notification.post_text</p>

        </div>
        <i class="fa-solid fa-ellipsis"></i>
    </div>

    <div class="notification-design">
        <i class="fa-solid fa-plus" id="new-post-logo"></i>
        <div class="notification-content">
            <img src="#">
            <p>notification.text</p>
            <p>notification.post_text</p>

        </div>
        <i class="fa-solid fa-ellipsis"></i>
    </div>

    <div class="notification-design">
        <i class="fa-solid fa-comment" id="new-comment-logo"></i>
        <div class="notification-content">
            <img src="#">
            <p>notification.text</p>
            <p>notification.post_text</p>

        </div>
        <i class="fa-solid fa-ellipsis"></i>
    </div>


</div>

<style>

    .notifications-list {
        margin-top: 2%;
        color: aliceblue;
    }

    .notification-design {
        display: flex;
        justify-content: space-between;
        padding-right: 2%;
    }

    #heart-logo {
        font-size: 200%;
        margin-left: 2%;
        color: rgb(230, 58, 86);
    }

    #new-post-logo{
        font-size: 200%;
        margin-left: 2%;
        color: purple;
    }

    #new-comment-logo{
        font-size: 200%;
        margin-left: 2%;
        color: blue;
    }

    .notification-content {
        width: 75%;
    }

    .notification-design img {
        width: 40px;
        height: 40px;
        background-color: antiquewhite;
        border-radius: 2rem;
    }

</style>