<div class="follow-recomendations">
    <h2>Quem seguir</h2>
    <p>Usuário 1</p>
    <p>Usuário 2</p>
    <p>Usuário 3</p>
</div>

<style>
    .follow-recomendations {
        margin-top: 1%;
        background-color: rgb(25, 26, 36);
        padding-top: 0.3%;
        padding-bottom: 1%;
        padding-left: 4%;
        padding-right: 2%;
        border-radius: 1.5rem;
        color: aliceblue;
    }
</style>