<div class="recomendations-main">

    <%- include("./search-box") %>
    <%- include("./trending-topics") %>
    <%- include("./follow-recomendations") %>

</div>

<style>
    .recomendations-main {
        width: 22%;
        position: fixed;
    }
</style>