<div class="trending-topics">
    <h2>O que está acontecendo</h2>
    <p>Assunto 1</p>
    <p>Assunto 2</p>
    <p>Assunto 3</p>
</div>

<style>
    .trending-topics {
        margin-top: 1%;
        background-color: rgb(25, 26, 36);
        padding-top: 0.3%;
        padding-bottom: 1%;
        padding-left: 4%;
        padding-right: 2%;
        border-radius: 1.5rem;
        color: aliceblue;
    }
</style>