<div class="main_feed">

    <%- include("./feed-selector") %> 
    <%- include("./new-post-box") %>
    <%- include("./feed-post") %>
    


</div>

<style>
    .main_feed {
        color: aliceblue;
        display: flex;
        flex-direction: column;
    }
</style>