<div class="messages-header">
    <h2>Mensagens</h2>
    <div>
        <a><i class="fa-solid fa-gear"></i></a>
        <a><i class="fa-regular fa-envelope"></i></a>
    </div>
</div>

<style>
    .messages-header {
        display: flex;
        align-items: center;
        margin-left: 2%;
        margin-right: 2%;
        justify-content: space-between;
        /* width: 40%; */
        /* background-color: aqua; */
    }

    .messages-header div {
        width: 15%;
        /* background-color: blueviolet; */
    }

    .messages-header i {
        /* background-color: aqua; */
        margin-right: 5%;
    }
</style>