<div class="new-chat">
    <h1> Selecione uma mensagem </h1>
    <p>Escolha entre conversas existentes, inicie uma nova ou continue explorando</p>
    <a>Nova Menssagem</a>
</div>

<style>
    .new-chat {
        position: relative;
        width: 50%;
        align-self: center;
        top: 20%;
    }

    .new-chat p {
        margin-bottom: 10%;
    }

    .new-chat a {
        background-color: rgb(0, 119, 255);
        color: aliceblue;
        padding: 4%;
        border-radius: 2rem;
        font-size: 100%;
    }

</style>