<!DOCTYPE html>
<meta charset="uft-8">
<meta rel="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Mono">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Mono&effect=neon">


<head>
    <title>Twitter Clone</title>
</head>

<body>