<div class="twitter_main">
    <div class="menu">
        <%- include("./home_menu") %>
        <%- include("./user_menu") %>
    </div>

    <div class="page">
        <%- include("./feed/main") %>
    </div>

    <div class="recomendations">
        <%- include("./recomendations/main") %>
    </div>
</div>

<!-- O Css responsável por essas classe foi movido para main -->
